<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>242 Portfolio Management Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CS242 Final Project</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/"> Home</a>
                    </li>
                    <li>
                        <a href="/stocks"> Stocks </a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Statistics</p>
                <div class="list-group">
                        <p>Price: ${{stock['historical_data'][0]['Close']}}</p>
                        <p>Average Daily Volume: {{stock['avg_daily_volume']}}</p>
                        <p>Dividend Per Share: ${{stock['dividend_per_share']}}</p>
                        <p>Dividend Yield: {{stock['dividend_yield']}}%</p>
                        <p>Historical Max: ${{stock['max']['max_price']}}</p>
                        <p>Historical Min: ${{stock['min']['min_price']}}</p>
                        <p>Expected Future Returns: {{stock['future_returns']}}%</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4><b> {{stock['symbol']}}: {{stock['name']}}</b></h4>
                        {% if stock['future_returns'] > 0 %}
                            <h4 style="color:green"><b> Rating: BUY </b></h4>
                        {% else %}
                            <h4 style="color:red"><b> Rating: SELL </b></h4>
                        {% endif %}
                    </div>
                    <iframe id="iframe1" width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src=""></iframe>
                    <iframe id="iframe2" width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src=""></iframe>
                    <iframe id="iframe3" width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src=""></iframe>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Lance Strait - CS242 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $('iframe#iframe1').attr('src', '{{stock['price_plot']}}.embed?width=800&height=600');
            $('iframe#iframe2').attr('src', '{{stock['returns_plot']}}.embed?width=800&height=600');
            $('iframe#iframe3').attr('src', '{{stock['boxplot']}}.embed?width=800&height=600');
        });
     </script>

</body>

</html>
